.reciever/receiverESP32/pio
.reciever/receiverESP32/vscode/.browse.c_cpp.db*
.reciever/receiverESP32/vscode/c_cpp_properties.json
.reciever/receiverESP32/vscode/launch.json
.reciever/receiverESP32/vscode/ipch
.reciever/receiverESP32/src/sensitiveInformation.h